<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
	</configSections>
	<specFlow>
		<runtime stopAtFirstError="false" missingOrPendingStepsOutcome="Ignore" />
	</specFlow>
	<appSettings>
		<add key="browser" value="chrome"/>
		<add key="headless" value="false"/>
		<add key="URL" value="https://buggy.justtestit.org"/>
		<add key="username" value="angelica_test"/>
		<add key="password" value="TestPwd1!"/>
	</appSettings>
</configuration>
